.contentLead {
  background-color: #fff;
  padding: 15px;

  .btn__left {
    display: flex;
    gap: 10px;
  }

  .filterHead {
    font-weight: 600;
    margin-bottom: 5px;
  }
  .filerBox {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  .filterItem {
    font-size: 13px;
    padding: 2px 5px;
    background-color: #dc3545;
    color: #fff;
    border-radius: 4px;
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;

    &--search,
    &--add,
    &--remove {
      display: flex;
      align-items: center;

      border-radius: 10px;
      padding: 10px 16px;
      color: #fff;
      cursor: pointer;

      &:hover {
        box-shadow: 0 8px 16px 0 #00000014, 0 6px 20px 0 #0000001f;
        transition: 0.5s linear;
      }

      &:focus {
        box-shadow: none;
      }
    }

    &--search,
    &--add {
      background-color: #0d6efd;
      &:hover {
        background-color: #0b5ed7;
      }
    }
    &--remove {
      background-color: #dc3545;
      &:hover {
        background-color: #b02a37;
      }
    }

    @media (max-width: 414px) {
      & .btn {
        font-size: 11px;
      }
    }
  }

  &__iconSearch,
  &__iconAdd {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 5px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__iconAdd {
    width: 15px;
    height: 15px;
  }
}

.showmore {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.update {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.cta__action {
  display: flex;
  align-items: center;
}
