.staff {
  &__content {
    padding: 15px;
    background-color: #fff;
  }
  &__cta {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
  }
  &__selectAction {
    border: none;
    outline: none;
  }
  &__search {
    position: relative;
    width: 30%;
  }
  &__iconSearch {
    padding-left: 0.75rem;
    align-items: center;
    display: flex;
    left: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    pointer-events: none;
    svg {
      color: #6b7280;
      width: 1.25rem;
      height: 1.25rem;
      display: block;
    }
  }
  &__inputSearch {
    color: #111827;
    padding: 0.9rem;
    padding-left: 2.5rem;
    background-color: #f9fafb;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    width: 100%;
    display: block;
  }
  &__buttonSubmit {
    color: #ffffff;
    line-height: 1.25rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #1a56db;
    border-radius: 0.5rem;
    right: 0.625rem;
    bottom: 0.5rem;
    position: absolute;
    border: none;
    cursor: pointer;
  }
}

.cta__action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.showmore {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.update {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  &--2 {
    margin-left: 10px;
  }
}
