.quantity {
  &__screen {
    background-color: #fff;
    padding: 15px;
  }
  &__title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
  }
}
.menuLead {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  margin: 15px 0;

  &__tabs {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  & .active {
    border-bottom: 1px solid #000;
  }
}
