.contentBooking {
    background-color: #fff;
    padding: 15px;

    &__btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;

        &--search {
            background-color: #0d6efd;
            border-radius: 10px;
            color: #fff;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 10px 16px;

            &:hover {
                background-color: #0b5ed7;
                box-shadow: 0 8px 16px 0 #00000014, 0 6px 20px 0 #0000001f;
                transition: .5s linear;
            }

            &:focus {
                box-shadow: none;
            }
        }

        @media (max-width: 414px) {
            & .btn {
                font-size: 11px;
            }
        }
    }

    &__iconSearch {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-left: 5px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__table .loadMore {
        text-decoration: underline;
        color: #098af4;
        cursor: pointer;
    }
}