.border-red {
    border: 1px solid red
}

.modalFormPass {
    &__input {
        margin-bottom: 10px;
    }
}

.modal__line {
    background-color: #f3f3f3;
    width: 100%;
    height: 2px;
    margin: 20px 0;
}

.modalFooter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}